@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

body {
  margin: 0px !important;
  background-color: #e6e7ee;
  color: #44476a;
}

.border-card {
  border: 1px solid rgb(0, 0, 0, 0.05);
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bottom-px {
  bottom: 1px;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded {
  border-radius: 0.25rem; /* 4px */
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-full {
  border-radius: 9999px;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.shadow-1 {
  box-shadow: 0px 4px 21px 8px rgba(0, 0, 0, 0.1);
}

.shadow-button {
  background: #ecf0f3;
  box-shadow: 8px 8px 16px #e0e0e0, -8px -8px 16px #ffffff;
}

.shadow-button-1 {
  background: #ecf0f3;
  box-shadow: 8px 8px 16px #e0e0e0, -8px -8px 16px #ffffff;
}

.shadow-button:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #e0e0e0, -8px -8px 16px #ffffff;
}

.opacity-95 {
  opacity: 0.95;
}

.opacity-90 {
  opacity: 0.9;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.text-gray {
  color: #898a8d;
}

.text-orange {
  color: #ff5300;
}

.bg-orange {
  color: #ff5300;
}

/* .bg-button {
  background: #ecf0f3;
} */

.bg-primary {
  background: #dce4eb;
}

.bg-gray {
  background: #d9d9d9;
}

.bg-gray-1 {
  background: #e6e7ee;
}

.width-98 {
  width: 98px;
}

.w-346 {
  width: 346px;
}

.w-1 {
  width: 0.25rem; /* 4px */
}

.w-2 {
  width: 0.5rem; /* 8px */
}

.w-3 {
  width: 0.75rem; /* 12px */
}

.w-4 {
  width: 1rem; /* 16px */
}

.w-5 {
  width: 1.25rem; /* 20px */
}

.w-6 {
  width: 1.5rem; /* 24px */
}

.w-7 {
  width: 1.75rem; /* 28px */
}

.w-full {
  width: 100%;
}

.w-8 {
  width: 2rem; /* 32px */
}

.w-9 {
  width: 2.25rem; /* 36px */
}

.w-10 {
  width: 2.5rem; /* 40px */
}

.w-11 {
  width: 2.75rem; /* 28px */
}

.w-12 {
  width: 3rem; /* 36px */
}

.w-14 {
  width: 3.5rem; /* 56px */
}

.w-16 {
  width: 4rem; /* 64px */
}

.w-20 {
  width: 5rem; /* 80px */
}

.w-20 {
  width: 5rem; /* 80px */
}

.w-24 {
  width: 6rem; /* 96px */
}

.w-28 {
  width: 7rem; /* 112px */
}

.w-32 {
  width: 8rem; /* 128px */
}

.w-36 {
  width: 9rem; /* 144px */
}

.w-40 {
  width: 10rem; /* 160px */
}

.w-44 {
  width: 11rem; /* 176px */
}

.w-48 {
  width: 12rem; /* 192px */
}

.w-50 {
  width: 12.5rem; /* 240px */
}

.w-52 {
  width: 13rem; /* 270px */
}

.w-56 {
  width: 14rem; /* 320px */
}

.w-60 {
  width: 15rem; /* 384px */
}

.w-64 {
  width: 16rem; /* 768px */
}

.w-72 {
  width: 18rem; /* 256px */
}

.w-80 {
  width: 20rem; /* 40rem */
}

.w-96 {
  width: 24rem; /* 640px */
}

.w-auto {
  width: auto;
}

.w-1-2 {
  width: 50%;
}

.w-1-3 {
  width: 33.333333%;
}

.w-2-3 {
  width: 66.666667%;
}

.w-1-4 {
  width: 25%;
}

.w-3-4 {
  width: 75%;
}

.w-1-5 {
  width: 20%;
}

.w-2-5 {
  width: 40%;
}

.w-3-5 {
  width: 60%;
}

.w-4-5 {
  width: 80%;
}

.w-11-12 {
  width: 91.666667%;
}

.w-screen {
  width: 100vw;
}

.w-min {
  width: min-content;
}

.w-fit {
  width: fit-content;
}

.h-1 {
  height: 0.25rem; /* 4px */
}

.h-2 {
  height: 0.5rem; /* 8px */
}

.h-3 {
  height: 0.75rem; /* 12px */
}

.h-4 {
  height: 1rem; /* 16px */
}

.h-5 {
  height: 1.25rem; /* 20px */
}

.h-6 {
  height: 1.5rem; /* 24px */
}

.h-7 {
  height: 1.75rem; /* 28px */
}

.h-8 {
  height: 2rem; /* 32px */
}

.h-9 {
  height: 2.25rem; /* 36px */
}

.h-10 {
  height: 2.5rem; /* 40px */
}

.h-11 {
  height: 2.75rem; /* 28px */
}

.h-12 {
  height: 3rem; /* 36px */
}

.h-14 {
  height: 3.5rem; /* 56px */
}

.h-16 {
  height: 4rem; /* 64px */
}

.h-20 {
  height: 5rem; /* 80px */
}

.h-20 {
  height: 5rem; /* 80px */
}

.h-24 {
  height: 6rem; /* 96px */
}

.h-28 {
  height: 7rem; /* 112px */
}

.h-32 {
  height: 8rem; /* 128px */
}

.h-36 {
  height: 9rem; /* 144px */
}

.h-40 {
  height: 10rem; /* 160px */
}

.h-44 {
  height: 11rem; /* 176px */
}

.h-48 {
  height: 12rem; /* 192px */
}

.h-50 {
  height: 12.5rem; /* 240px */
}

.h-52 {
  height: 13rem; /* 270px */
}

.h-56 {
  height: 14rem; /* 320px */
}

.h-60 {
  height: 15rem; /* 384px */
}

.h-64 {
  height: 16rem; /* 768px */
}

.h-72 {
  height: 18rem; /* 256px */
}

.h-80 {
  height: 20rem; /* 40rem */
}

.h-96 {
  height: 24rem; /* 640px */
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-2 {
  margin-left: 0.5rem; /* 8px */
  margin-right: 0.5rem; /* 8px */
}

.mx-3 {
  margin-left: 0.75rem; /* 12px */
  margin-right: 0.75rem; /* 12px */
}

.mx-4 {
  margin-left: 1rem; /* 4px */
  margin-right: 1rem; /* 4px */
}

.mx-5 {
  margin-left: 1.25rem; /* 20px */
  margin-right: 1.25rem; /* 20px */
}

.mx-6 {
  margin-left: 1.5rem; /* 24px */
  margin-right: 1.5rem; /* 24px */
}

.mx-7 {
  margin-left: 1.75rem; /* 28px */
  margin-right: 1.75rem; /* 28px */
}

.mx-8 {
  margin-left: 2rem; /* 32px */
  margin-right: 2rem; /* 32px */
}

.mx-9 {
  margin-left: 2.25rem; /* 36px */
  margin-right: 2.25rem; /* 36px */
}

.mx-10 {
  margin-left: 2.5rem; /* 40px */
  margin-right: 2.5rem; /* 40px */
}

.mx-11 {
  margin-left: 2.75rem; /* 44px */
  margin-right: 2.75rem; /* 44px */
}

.mx-12 {
  margin-left: 3rem; /* 48px */
  margin-right: 3rem; /* 48px */
}

.mx-14 {
  margin-left: 3.5rem; /* 56px */
  margin-right: 3.5rem; /* 56px */
}

.mx-16 {
  margin-left: 4rem; /* 64px */
  margin-right: 4rem; /* 64px */
}

.mx-20 {
  margin-left: 5rem; /* 80px */
  margin-right: 5rem; /* 80px */
}

.mx-24 {
  margin-left: 6rem; /* 96px */
  margin-right: 6rem; /* 96px */
}

.my-2 {
  margin-top: 0.5rem; /* 8px */
  margin-bottom: 0.5rem; /* 8px */
}

.my-3 {
  margin-top: 0.75rem; /* 12px */
  margin-bottom: 0.75rem; /* 12px */
}

.my-4 {
  margin-top: 1rem; /* 4px */
  margin-bottom: 1rem; /* 4px */
}

.my-5 {
  margin-top: 1.25rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
}

.my-6 {
  margin-top: 1.5rem; /* 24px */
  margin-bottom: 1.5rem; /* 24px */
}

.my-7 {
  margin-top: 1.75rem; /* 28px */
  margin-bottom: 1.75rem; /* 28px */
}

.my-8 {
  margin-top: 2rem; /* 32px */
  margin-bottom: 2rem; /* 32px */
}

.my-9 {
  margin-top: 2.25rem; /* 36px */
  margin-bottom: 2.25rem; /* 36px */
}

.my-10 {
  margin-top: 2.5rem; /* 40px */
  margin-bottom: 2.5rem; /* 40px */
}

.my-11 {
  margin-top: 2.75rem; /* 44px */
  margin-bottom: 2.75rem; /* 44px */
}

.my-12 {
  margin-top: 3rem; /* 48px */
  margin-bottom: 3rem; /* 48px */
}

.my-14 {
  margin-top: 3.5rem; /* 56px */
  margin-bottom: 3.5rem; /* 56px */
}

.my-16 {
  margin-top: 4rem; /* 64px */
  margin-bottom: 4rem; /* 64px */
}

.my-20 {
  margin-top: 5rem; /* 80px */
  margin-bottom: 5rem; /* 80px */
}

.my-24 {
  margin-top: 6rem; /* 96px */
  margin-bottom: 6rem; /* 96px */
}

.px-2 {
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
}

.px-3 {
  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem; /* 12px */
}

.px-4 {
  padding-left: 1rem; /* 4px */
  padding-right: 1rem; /* 4px */
}

.px-5 {
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
}

.px-6 {
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
}

.px-7 {
  padding-left: 1.75rem; /* 28px */
  padding-right: 1.75rem; /* 28px */
}

.px-8 {
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
}

.px-9 {
  padding-left: 2.25rem; /* 36px */
  padding-right: 2.25rem; /* 36px */
}

.px-10 {
  padding-left: 2.5rem; /* 40px */
  padding-right: 2.5rem; /* 40px */
}

.px-11 {
  padding-left: 2.75rem; /* 44px */
  padding-right: 2.75rem; /* 44px */
}

.px-12 {
  padding-left: 3rem; /* 48px */
  padding-right: 3rem; /* 48px */
}

.px-14 {
  padding-left: 3.5rem; /* 56px */
  padding-right: 3.5rem; /* 56px */
}

.px-16 {
  padding-left: 4rem; /* 64px */
  padding-right: 4rem; /* 64px */
}

.px-20 {
  padding-left: 5rem; /* 80px */
  padding-right: 5rem; /* 80px */
}

.px-24 {
  padding-left: 6rem; /* 96px */
  padding-right: 6rem; /* 96px */
}

.py-2 {
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
}

.py-3 {
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
}

.py-4 {
  padding-top: 1rem; /* 4px */
  padding-bottom: 1rem; /* 4px */
}

.py-5 {
  padding-top: 1.25rem; /* 20px */
  padding-bottom: 1.25rem; /* 20px */
}

.py-6 {
  padding-top: 1.5rem; /* 24px */
  padding-bottom: 1.5rem; /* 24px */
}

.py-7 {
  padding-top: 1.75rem; /* 28px */
  padding-bottom: 1.75rem; /* 28px */
}

.py-8 {
  padding-top: 2rem; /* 32px */
  padding-bottom: 2rem; /* 32px */
}

.py-9 {
  padding-top: 2.25rem; /* 36px */
  padding-bottom: 2.25rem; /* 36px */
}

.py-10 {
  padding-top: 2.5rem; /* 40px */
  padding-bottom: 2.5rem; /* 40px */
}

.py-11 {
  padding-top: 2.75rem; /* 44px */
  padding-bottom: 2.75rem; /* 44px */
}

.py-12 {
  padding-top: 3rem; /* 48px */
  padding-bottom: 3rem; /* 48px */
}

.py-14 {
  padding-top: 3.5rem; /* 56px */
  padding-bottom: 3.5rem; /* 56px */
}

.py-16 {
  padding-top: 4rem; /* 64px */
  padding-bottom: 4rem; /* 64px */
}

.py-20 {
  padding-top: 5rem; /* 80px */
  padding-bottom: 5rem; /* 80px */
}

.py-24 {
  padding-top: 6rem; /* 96px */
  padding-bottom: 6rem; /* 96px */
}

.gap-1 {
  gap: 0.25rem; /* 4px */
}

.gap-2 {
  gap: 0.5rem; /* 8px */
}

.gap-3 {
  gap: 0.75rem; /* 12px */
}

.gap-4 {
  gap: 1rem; /* 16px */
}

.gap-5 {
  gap: 1.25rem; /* 20px */
}

.gap-6 {
  gap: 1.5rem; /* 24px */
}

.gap-7 {
  gap: 1.75rem; /* 28px */
}

.gap-8 {
  gap: 2rem; /* 32px */
}

.gap-9 {
  gap: 2.25rem; /* 36px */
}

.gap-10 {
  gap: 2.5rem; /* 40px */
}

.gap-11 {
  gap: 2.75rem; /* 28px */
}

.gap-12 {
  gap: 3rem; /* 36px */
}

.gap-14 {
  gap: 3.5rem; /* 56px */
}

.gap-16 {
  gap: 4rem; /* 64px */
}

.gap-20 {
  gap: 5rem; /* 80px */
}

.gap-20 {
  gap: 5rem; /* 80px */
}

.gap-24 {
  gap: 6rem; /* 96px */
}

.gap-28 {
  gap: 7rem; /* 112px */
}

.gap-32 {
  gap: 8rem; /* 128px */
}

.gap-36 {
  gap: 9rem; /* 144px */
}

.gap-40 {
  gap: 10rem; /* 160px */
}

.gap-44 {
  gap: 11rem; /* 176px */
}

.gap-48 {
  gap: 12rem; /* 192px */
}

.gap-50 {
  gap: 12.5rem; /* 240px */
}

.gap-52 {
  gap: 13rem; /* 270px */
}

.gap-56 {
  gap: 14rem; /* 320px */
}

.gap-60 {
  gap: 15rem; /* 384px */
}

.gap-64 {
  gap: 16rem; /* 768px */
}

.gap-72 {
  gap: 18rem; /* 256px */
}

.gap-80 {
  gap: 20rem; /* 40rem */
}

.gap-96 {
  gap: 24rem; /* 640px */
}

.border-0 {
  border-width: 0px;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-4 {
  border-width: 4px;
}

.border-t {
  border-top: 1px solid #fafbfe;
}
.border-t-1 {
  border-top: 1px solid #d1d9e6;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-t-4 {
  border-top-width: 4px;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.border-gray {
  border-color: #fff;
}

@media only screen and (max-width: 540px) {
  .sm-flex {
    display: flex;
  }

  .sm-flex-row {
    flex-direction: row;
  }

  .sm-flex-row-reverse {
    flex-direction: row-reverse;
  }

  .sm-flex-col {
    flex-direction: column;
  }

  .sm-flex-col-reverse {
    flex-direction: column-reverse;
  }

  .sm-flex-wrap {
    flex-wrap: wrap;
  }

  .sm-flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .sm-flex-no-wrap {
    flex-wrap: nowrap;
  }

  .sm-justify-start {
    justify-content: flex-start;
  }

  .sm-justify-end {
    justify-content: flex-end;
  }

  .sm-justify-center {
    justify-content: center;
  }

  .sm-justify-between {
    justify-content: space-between;
  }

  .sm-justify-around {
    justify-content: space-around;
  }

  .sm-justify-evenly {
    justify-content: space-evenly;
  }

  .sm-items-start {
    align-items: flex-start;
  }

  .sm-items-end {
    align-items: flex-end;
  }

  .sm-items-center {
    align-items: center;
  }

  .sm-items-baseline {
    align-items: baseline;
  }

  .sm-items-stretch {
    align-items: stretch;
  }
}
